<h2>Sign in/out using one of the following services </h2>

<% if  signed_in? %>
  <%= link_to "Log out all", signout_path, :method=>:delete %>
<% end  %>

<% if  signed_in_to?('facebook') %>
  <%= link_to image_tag('/images/facebook_64.png'), signout_path + "/facebook", :method=>:delete %>
<% else %>
<%= link_to image_tag('/images/facebook_grey_64.png'), '/auth/facebook', :class => 'quick', :remote => true %>
<% end  %>

<% if  signed_in_to?('twitter') %>
  <%= link_to image_tag('/images/twitter_64.png'), signout_path + "/twitter", :method=>:delete %>
<% else  %>
<%= link_to image_tag('/images/twitter_grey_64.png'), '/auth/twitter', :class => 'quick', :remote => true %>
<% end  %>
<!-- <%= link_to image_tag('/images/google_64.png'), '/auth/google', :class => 'quick', :remote => true %> -->
