<h1>New Squeek</h1>

<%= form_for(@squeek) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>

  Enter an Address:
  <div class="field">
    <%= text_field_tag :address, '',:placeholder => 'Enter location...' %>
  </div>
  <br/> 
  Or enter a Lat/Long:
  <br/>
  <div class="field">
    <%= f.label :latitude %><br />
    <%= f.text_field :latitude,:placeholder => 'Enter numeric latitude...' %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br />
    <%= f.text_field :longitude,:placeholder => 'Enter numeric longitude...' %>
  </div>
  <div class="field">
    <%= f.label :squeek %><br />
    <%= f.text_field :text,:placeholder => 'Enter message...' %>
  </div>
  <div class="field">
	Expires after: 
	<%= select_tag :duration, options_for_select([2,4,8,9]) %>
    hours
  </div>

    <div class="actions">
    <%= f.submit "Squeek!" %>
  </div>
<% end %>