<h1>
  <%= gravatar_for @user %>
  <%= link_to @user.name,  :action => 'edit', :id => @user %> 
</h1>

<table class="profile">
  <tr>
    <td class="main">
      <% unless @squeaks.empty? %>
        <table class="squeaks" summary="Squeaks">
          <h3> <%= pluralize(@num_squeaks, 'squeak') %> </h3> 
          <%= render @squeaks %>
        </table>
        <%= will_paginate @squeaks %>
        <% else %>
        No squeaks yet. 
      <% end %>
    </td>

  </tr>
</table>



