<h1>Admin</h1>
<h2> Users </h2>
<p> Find User:  
  <%= form_tag url_for(:controller => 'users', :action => 'search')  do %>
  <%= text_field_tag :search_term, '',:placeholder => 'Enter name, email or id ...' %>
  <%=  submit_tag "Search"%>
  <% end %>
</p>
<h2> Squeaks </h2>
<p> Find Squeak:  
  <%= form_tag url_for(:controller => 'squeaks', :action => 'search') do %>
  <%= text_field_tag :search_term, '',:placeholder => 'Enter squeak text or id ...' %>
  <%= submit_tag "Search" %>
  <% end %>
</p> 

