<tr>
  <td class="squeek">
    <span class="content"><%= squeek.text %></span> <br/>

    <%= link_to image_tag("http://maps.googleapis.com/maps/api/staticmap?center=#{squeek.latitude},#{squeek.longitude}&zoom=14&size=100x100&maptype=roadmap&markers=color:blue%7Clabel:M%7C#{squeek.latitude},#{squeek.longitude}&sensor=true", 
    	:border=>0, :title => squeek.text) ,:controller => 'squeeks', :action => 'show', :id => squeek %>
    <span class="timestamp">
      Posted <%= time_ago_in_words(squeek.created_at) %> ago.
      <% if Time.now < squeek.expires %>
        Expires in <%= time_ago_in_words(squeek.expires) %>.
     <% else %>
        Expired <%= time_ago_in_words(squeek.expires) %> ago.
     <% end %>
    </span>
  </td>
</tr>