<%= form_for(@squeak) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>

  <div class="field">
    <%= f.label :latitude %><br />
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br />
    <%= f.text_field :longitude %>
  </div>
  <div class="field">
    <%= f.label :category %><br />
    <%= f.text_field :category %>
  </div>
  <div class="field">
    <%= f.label :squeak %><br />
    <%= f.text_field :text %>
  </div>
  <div class="field">
    <%= f.label :Expires_after %><br />
    <%= f.text_field :expires %>
  </div>
  <div class="field">
    <!-- <%= f.label :Image %><br /> -->
    <!-- <%= f.file_field :image %> --> 
    <%= file_field_tag :image_file %>
  </div>
 <div class="field">
    <%= f.label :timezone %><br />
    <%= f.text_field :timezone %>
  </div>

    <% salt = Base64.encode64([rand((1<<64) - 1)].pack("V") + [rand((1<<64) - 1)].pack("V")).strip %>
    <% md5 =  Base64.encode64(OpenSSL::HMAC.digest(OpenSSL::Digest::Digest.new('md5'), "OIA9cj6nTfiV4EHkfDZc2A",salt)).strip %>
    <%= f.hidden_field :salt, :value => "#{salt}" %>
    <%= f.hidden_field :hash, :value => "#{md5}" %>
    <%= f.hidden_field :source, :value => "user" %>

  <div class="actions">
    <%= f.submit "Save squeak" %>
  </div>
<% end %>
<%= gmaps("map_options" => { "center_latitude" => @squeak.latitude, "center_longitude" => @squeak.longitude, "zoom" => @zoom},"markers" => { "data" => @json}) %>
