<%= form_for(@squeak) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>

  <div class="field">
    <%= f.label :latitude %><br />
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br />
    <%= f.text_field :longitude %>
  </div>
  <div class="actions">
    <%= f.submit "Save squeak" %>
  </div>
<% end %>
<%= gmaps("map_options" => { "center_latitude" => @squeak.latitude, "center_longitude" => @squeak.longitude, "zoom" => @zoom},"markers" => { "data" => @json}) %>