<h1>New Squeak</h1>

<%= form_for(@squeak) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>

  Enter an Address:
  <div class="field">
    <%= text_field_tag :address, '',:placeholder => 'Enter location ...' %>
  </div>
  <br/> 
  Or enter a Lat/Long:
  <br/>
  <div class="field">
    <%= f.label :latitude %><br />
    <%= f.text_field :latitude,:placeholder => 'Enter numeric latitude ...' %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br />
    <%= f.text_field :longitude,:placeholder => 'Enter numeric longitude ...' %>
  </div>
  <div class="field">
    <%= f.label :category %><br />
    <%= f.text_field :category,:placeholder => 'Enter optional category ...' %>
  </div>
  <div class="field">
    <%= f.label :squeak %><br />
    <%= f.text_field :text,:placeholder => 'Enter message ...' %>
  </div>
  <div class="field">
	<%= f.label :Expires_after %><br />
	<%= f.select :duration, options_for_select((1..24).to_a) %>
    hours
  </div>
  <div class="field">
    <!-- <%= f.label :Image %><br /> -->
    <!-- <%= f.file_field :image %> --> 
    <%= file_field_tag :image_file %>
  </div>
 <div class="field">
    <%= f.label :timezone %><br />
    <%= f.text_field :timezone,:placeholder => 'Enter timezone ...' %>
  </div>
    <div class="actions">
    <%= f.submit "Squeak!" %>
  </div>
    <% salt = Base64.encode64([rand((1<<64) - 1)].pack("V") + [rand((1<<64) - 1)].pack("V")).strip %>
    <% md5 =  Base64.encode64(OpenSSL::HMAC.digest(OpenSSL::Digest::Digest.new('md5'), "OIA9cj6nTfiV4EHkfDZc2A",salt)).strip %>
    <%= f.hidden_field :salt, :value => "#{salt}" %>
    <%= f.hidden_field :hash, :value => "#{md5}" %>
    <%= f.hidden_field :source, :value => "user" %>
<% end %>
