<header>
  <nav class="round">	
    <ul>
      <li> <h1>MapSqueak! </h1> </li>	
      <li> </li>
      <li>
	<%= link_to "Home", index_path %>
      </li>
      <li>
	<%= link_to "App", mobile_path %>
      </li>
      <li>
	<%= link_to "News", news_path %>
      </li>
      <li>
	<%= link_to "Terms", terms_path %>
      </li>
      <li>
	<%= link_to "Contact", contact_path %>
      </li>
      <li> <% if signed_in? %>
      <li>
	<%= link_to "Profile", current_user %>
      </li>
      <% end %>
      <li>
	<%= link_to "Manage Logins", signin_path %>
      </li>
      

      <li> <%= link_to logo, squeaks_new_path %> </li>
    </ul> 
  </nav>
  <nav class="round"> 
    <ul>
      
      
    </ul> 
  </nav>
  <%= yield :head %>
</header>
