<header>
	<nav class="round">
		<ul>
			<li>
				<%= link_to "Home", root_path %>
			</li>
            <li>
				<%= link_to "Mobile App", mobile_path %>
			</li>
			<li>
				<%= link_to "News", news_path %>
			</li>
			<li>
				<%= link_to "Terms", terms_path %>
			</li>
			<li>
				<%= link_to "Contact Us", contact_path %>
			</li>
 		   <li> <% if signed_in? %>
			<li>
				<%= link_to "Profile", current_user %>
			</li>
			<% end %>
			<% if  signed_in? %>
			<li>
				<%= link_to "Sign out", signout_path, :method=>:delete %>
			</li>
			<% else  %>
			<li>
				<%= link_to "Sign in", signin_path %>
			</li>
			<% end %>
			<li> <%= link_to logo, squeeks_new_path %> </li>
			<li><h1>MapSqueek</h1></li>
 	
        </ul>
	</nav>

<%= yield :head %> 
</header>