<!DOCTYPE html>
<html>
	<!-- a hack to enable better client side posting to facebook -->
	<%	if @squeak %> 
	<meta name="description" content="<%=@squeak.text%>" />
    <link rel="image_src" href="http://maps.googleapis.com/maps/api/staticmap?center=<%=@squeak.latitude%>,<%=@squeak.longitude%>&zoom=13&size=200x200&maptype=roadmap&markers=color:blue%7Clabel:M%7C<%=@squeak.latitude%>,<%=@squeak.longitude%>&sensor=true" />
	<% end %> 
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>
  </head>
  <body>
    <div class="container">
      <%= render 'layouts/header' %>
      <section class="round">
        <% flash.each do |key, value| %>
          <div class="flash <%= key %>"><%= value %></div>
        <% end %>
        <%= yield %>
      </section>
      
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
